/* Global */
.pokedex{
    background-color: red;
    width: 25rem;
    padding: 15px;
    border-radius: 60px 0px;
}
.contenedor, .semaforo, .top,
.box-white-down, .controls, .options{
    display: flex;
}
.contenedor, .controls{
    margin-bottom: 15px;
}
.loc-blanco, .loc-azul, .rojo,
.amarillo, .verde, .azul{
    border-radius: 50%;
}
/* Up Desing */
.rojo, .amarillo, .azul, .verde{
    width: 20px;
    height: 20px;     
}
.loc-blanco{
    width: 100px;
    height: 100px;    
    background: #ffffff;
    border: 1px solid black
}
.loc-azul{
    width: 50px;
    height: 50px;    
    background: #17F2EB;
    border: 3px solid;
    margin-left: 1.3rem;
    margin-top: 1.3rem;
}
.rojo{        
    background: red;
    border: 3px solid;
    margin-right: 10px;
}
.amarillo{   
    background: yellow;
    border: 3px solid;
    margin-right: 10px;
}
.verde{ 
    background: #12E53F;
    border: 3px solid;
}
.semaforo{
    margin: 1.5rem;
}
 
/* Contenedor de imagen */
.container-image{
    padding-top: 30px;
}
.puntitos{
    width: 5px;
    height: 5px;
}
.box-white{
    background-color: whitesmoke;
    height: 22rem;
    margin-bottom: 13px;
    border-radius: 10px 10px 10px 60px;
}
img{
    width: 24rem;
    margin-left: 8px;
}
.box-white-up{
    margin: -20px 0px 8px 186px;
}
.ine{
    margin-left: 50px;
}
.box-white-down{
    justify-content: space-between;
    margin: 2px;
}
.bocina{
    width: 15rem;
}
.grids{
    border: 3px solid black;
    width: 14rem;
    border-radius: 100px 100px 100px 100px;
    margin-bottom: 5px;
}


/* Controls */
.azul{
    width: 30px;
    height: 30px;    
    background-color: #13a5e5;
}
.start{
    border-radius: 10px;
    width: 35px;
    height: 7px;
    background-color: #12E53F;
    margin: 10px;
}
.select{
    border-radius: 10px;
    width: 35px;
    height: 7px;
    background-color: orange;
    margin: 10px;
}
.search{
    height: 30px;
    width: 10rem;
    background-color: yellow;
    font-family: 'Oswald', sans-serif;
    font-size: 700, 25px;
}
.joystic{
    margin-left: 8rem;
}
.cursor{
    width: 5rem;
}
